language: node_js

node_js:
  - 'stable'
  - '6'
  - '7'
  - '8'

cache:
  directories:
  - node_modules

sudo: false

before_install:
  - yarn global install codeclimate-test-reporter

script:
  - yarn build
  - yarn validate

after_script:
  - codeclimate-test-reporter < coverage/lcov.info
  - node_modules/.bin/coveralls < coverage/lcov.info

before_deploy:
  - yarn build:dist && node ./script/package-dist.js

deploy:
  - provider: npm
    email: 'devmonk@mediamonks.com'
    api_key:
      secure: 'K7Dq8vLLoXDTyw5jVSnk2rsJDH+eiWCp1V8g7G/vlH5LfzYPx/BXPfJNPB5IoJUbmSkElq96QK2fst0KXdka/8XRNN5VFUCZPitRyIivpi/Wf7uy0Hqm1hhbzQ4afZz9tZ9s78NJ3BaXNd6wm67gBQ56dEnXZa7qr+WoU2cWa8TdSJX6yBKygh0D9FlUWP6ZeTyqj7Wrd+UoOks+wJSbhTTrC0vs345zBdzp5XTdt8nmqYRhPgR/pz9ofkGLa2XxH936h8O3xpzTjCgeAT6VnB0ezQgy5Z9CHbWGrOQtuZkAYYObfYfD8ukUWcWOr11aVvOYeIetedu7GYsLdnrHDzxaVDtqZMYUaPZt8ZFeJUJGNLFLitOt7UQRQy9aJzWMhzx499/Ru2brZErt3uLIhv6nbWjzZrhIcwnCFrQ33BTGv9hypdLH6WFJq+GxXJEEFTEdDcs0B2ElwsDHO6ZZQJPeKLJC5ymqY821thT3gAZdnvVVsZEIZwBgoYblCf4pxOSzRkYChHSSWMDk1dUwwg1FdiPmM3ODsf1yVhR6SyC4RgisrGWiBP03mp3/xyWdxuTpRXuNTZgGetLRAm96S4sKWpz6x1rIATCEV3pfjPmlVSYY/sm0pPocZWy0j1agDKfFfWiRk+/a7yd8sZPDa3rl3GymtwqayR/EMRZCMQk'
    on:
      tags: true
      node: '8'
    skip_cleanup: true

#  - provider: s3
#    access_key_id:
#      secure: 'BV9B80rsAWYaQkF23vQIT9o7536RCG9SYHUKff/aTlgRHnA9FqbBDork2CZ/u2FZO1XaX8CIDjRolLAFqCYfzO4kSufUdMEhkYtx+j0AX27lszVr4Xw0JZqIgZ6EfQq6rCs+Rq4nRR/qIjaifpxpXHdtbte2KTAhdLlAWgJM0JB8DZl8JGxwpByRxcRw+aJw1STqF4yCV7gV5R7LxBrlyFnOEgvTGR80L+d8twzIAoa3IRLYz8cW7SHLffaRVJLr6I0/Jcw8+LryXKHPkQd+/qrqOAtwZiUSlEmp9d+drqIHTre2nvN4gXzVas9Qg00aKStE3qnJJ9um0UiaGb0yQqXjNlTYLlwNZtT62DMI6UFIEs+/79WLWQ6hgvQS8IJ9wjzsB1is/Ml1OqvKyNOGaQp1bdJBlgmPUOcd9OCLLK7DcG22b2Ic9vMFEy5PAmQIZeYf5j6rRvXqy8eYJJt0TOrS1m024Y5Zau1WcrlVc/RM91QOlw3UOGZ6be5VRQRZ3tFhh+Wx1618x8UNVckiWZ9iqhtW90c0E6kZJDR7n+byKrxUQeyeGrJxpC8U5+ZuzfDgB6wcJ8SmNL1nR81L/jXx/TvvK7x/rEZgWw8Ra/8yB9W54Zb35frRCtF6XE907fIBOS1fMJ8sjNX8T0mXg3RdpWei8ZZUX9aadscKQDc='
#    secret_access_key:
#      secure: 'DRV5VfnUuuFjh5ZCAqHU2U8fqu+wnWeGxOeCUenC/4Zvt5w6h27c6p/SbHXtslN1PtotLiMrkb5T8fx0WmVVK51LeTaDeIa91XgKamemXBzrdNlfsYa2Iiag6m0aLqzVsM73TvLQaFR0YUy933MidZTiX/y1hy6rVOQT8OPRqnEog7gSy4IrlGe8hUyCqrPeQmzWuIj+UYDsJbkJ0lBGyJDf5s0XV4KjmT/s79v/McRS/9drlG0n0/v7uHdoMEXqTFeqQlwZuLwVsNdX1YT57fM4ES4U/ECPHPtcbAY6qJ3WS1WSLKXbLqNocNxTd3Xp6du6hpHsecvAWTvRwzI3YQasqtmZKDNLwkIw8H9YmhIP6sjnexWYZVbJDZFkBykvXCXj/NvBmH8a7yYc3uLAtULe5mSULz7fi2WvfYYwDz8ulDYYKpH4yt3D+4OHrWXQMiq8o6RogSV9jcXGb/aIFIBTArwEMlnBVEcu++wc9ORFi44AYRRe3dImD//cGGXn88Of/djKK1r+KquwUC631KHIi7Yif1RboDlwV7mBTM5f1DfhFad79Xmq/xBNbG2PKp6O6sQ93/pAAN80cVC9N0pI9nV4pjYv1XF8AhDgRjHhVV05K9n8RJq4mlA3Wwnswh+nwrDhpk9u3d52uATZFuRP3MGeCzJLOvZbX6jqhzw='
#    bucket: "mediamonks-development"
#    local_dir: 'dist'
#    upload-dir: 'seng/libs'
#    on:
#      tags: true
#      node: '4'
#    skip_cleanup: true
#    region: eu-west-1

  - provider: releases
    api_key:
      secure: 'orhFCilIOOAhg2Sb21bHKTwdcnPS9TVCHMLG14M+nW0nbfrzXlkkFgVruc+JuYQHydgX06KmefzUPrh6zE2K2TPZdwn5SvbLtcedUW2+4GGx3rmujfn/200jx09JrbfLHG6EIkm19WSMnr5Xbwg0hmwmYuSQzl8UW1gFc4wae0F+oQTT2lTCPZmVBW53VW9ofrsEYKFT4vJb3qcj/nfA5eKUyjYcZPcdRxgsjzRzyJwA9u0JIrSVGgB9SR4rodfT03/8GP8no6cI7HGmhJryzhk14ZyO2uo2uZyNVgr1echuaNv/bsSIuw2+Oel0SzXXbVBNtTUskoeiojuLK3+hO4og5VRC1hnA6gQWC4qTo6txJuMzZogzLRzDsHVws7R4x4n8hpdsxXJm8/7gKbUmJHJ2/pi2bmdW1iUvuNVuSxTChnLyyKuGACsfq75xll3mdI5j8IcDxM/0axxjbYDqHj30K0BcS08casGXnGSdoh3sCEljmLJ4Wr0qPYbLMxkNUU2iS5VLjQMDj/OeyCYIkrV5kYzht+qqKcIkYWnpo0yXlAQMhKVaG31VoF2Ia9ogHl2sXZUN7mQEO3InET5mOPzGewiT+HVy1v+TtAhAd01htMR+paPCd2G2pQEGadlM0EYTLSh5geTAunvueqTALwwAo+KCjqiNbvcvHtKXnww='
    file:
      - "seng-*.zip"
      - "seng-*.tar.gz"
    file_glob: true
    on:
      tags: true
      node: '8'
    skip_cleanup: true

#addons:
#  code_climate:
#    repo_token:
#      secure: 'jMib2LNFGzfKiINRK0fOwibNgHnizTh87Fb1YK0Q2UpWtF7WiigEBhNyiX3pF02HH3iRuICHKYzE1QrZbIzk88XVTUhilO7vI+h1VpgbcuOxq7nkE+kSfxAiTpkD6eY7c0s8wSViKTPOVPPrpRfp8RYYLx6Vcox9jlN7StOHAgDuiwGwHPZ6lz2KGzX1xx8Z8ZLnHIIihv7rqQgetu7BNoPcrPv2Dz63qZI3DbFPWVJIe05B6I7iuiPgzlRZzIvUWofpp6zM5jT9ktrGyF786sh15mDzixoDzUDKmw6ptbc7MeoEuT2Co7FYr4LibXClSaoXcfKJ37/6E5Xzya1e7Sz/83+H1Xi34LCUcVHySzmCWSMWa1fGnZMCHJUdhCVmY5EJMQSGJEvPwHt+1beRYsWAm0cP2RsZ3LhIj9uB6jVXUz1pmhlkL2AFiuBZ2D3vKw4DTtnKqBounsI/FFm0Z0bhsOfkUs7HzAtdnPGjkzlHYW//YvncmTaO0fnMswJVLTKlMq9J/VnqLF1bH2CVYO9zBXIvf786SwgNrWAW/nmyOHE0kOzo79OVfm147qTPmF93ajwLWA814HUK8xpPZ5nMLgFaPpqlNO8co/5gpGm3cRrxRQ2yeOMCealz/EVJYS9LUmYugR42Ayg6iHLRoqwCKdtsjhMFZNEAOwsMs80='
